$clr_white: rgb(255, 255, 255);
$clr_black: #000000;
$clr_gray: #333333;
$clr_light_gray: rgba(0, 0, 0, 0.5);
$clr_red: #ff0000;
$clr_main: #ffa500;
$clr_main_transparent: rgba(225, 165, 0, 0.2);
$main_font: 'Nunito', sans-serif;